@{
    ViewData["Title"] = "Cadastro";
}

<div class="mx-auto" style="max-width:520px;">
  <h2>Crie sua Conta!</h2>
  <form id="cadastroPageForm" method="post" asp-controller="Usuario" asp-action="Cadastro">
    <div class="mb-3">
      <input type="text" id="name" name="nome" class="form-control form-control-dark" placeholder="Nome Completo" required />
    </div>
    <div class="mb-3">
      <input type="email" id="email" name="email" class="form-control form-control-dark" placeholder="Email" required />
    </div>
    <div class="mb-3">
      <input type="password" id="senha" name="senha" class="form-control form-control-dark" placeholder="Senha" required />
    </div>
    @if (ViewBag.Erro != null)
    {
      <div class="alert alert-danger" role="alert">
        @ViewBag.Erro
      </div>
    }
    <button type="submit" class="btn btn-warning">Cadastrar</button>
  </form>
</div>