@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h2>Login</h2>
    <form id="loginForm" asp-controller="Usuario" asp-action="Login" method="post" class="mx-auto" style="max-width:420px;">
        <div class="mb-3">
            <input type="email" id="email" name="email" class="form-control form-control-dark" placeholder="Email" required />
        </div>
        <div class="mb-3">
            <input type="password" id="senha" name="senha" class="form-control form-control-dark" placeholder="Senha" required />
        </div>
        <button type="submit" class="btn btn-success">Entrar</button>
    </form>
</div>