@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo!</h1>
    <br />
    <h1>Não tem uma conta?</h1>
    <a href="/Usuario/Cadastro" class="btn btn-primary">Crie uma agora!</a>
    <br />
    <h1>Já tem uma conta?</h1>
    <a href="/Usuario/Login" class="btn btn-primary">Faça login!</a>
</div>
